
img_topcon/item_nota.png
img_topcon/toneladas.png
__pycache__/valida_pedido.cpython-311.pyc
img_topcon/item_nota.png
img_topcon/toneladas.png
img_topcon/valida_itensxml.png
img_topcon/item_nota.png
img_topcon/item_nota.png
img_topcon/valida_itensxml.png
*.pyc
/__pycache__
/img_geradas
/__pycache__
