/__pycache__
/chrome-win64
/img_geradas
/img_geradas
db_alltrips/~$db_alltrips.xlsx
teste.py
/automacao/__pycache__
/automacao_planilha/__pycache__
/imagens/img_geradas
/utils/__pycache__
/utils/__pycache__
/automacao/__pycache__
/automacao/__pycache__
/utils/__pycache__
